html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: beige;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: beige;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.load-text span{
    display: inline-block;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    font-size: 32px;
    text-align: center;
    border: 5px solid lightslategray;
}

.load-text span:nth-child(odd){
    animation: loading-move-odd 4s infinite;
}

.load-text span:nth-child(even){
    animation: loading-move-even 4s infinite;
}

@keyframes loading-move-odd {
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes loading-move-even {
    0% {
        transform: translateY(40px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(40px);
    }
}

@keyframes erase-loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

header{
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 20px;
    width: calc(80vw-40px);
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

header .wrap-head-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex : 100 1 0;
}

header img {
    display: inline-block;
    width: 100%;
    flex : 1 1 0;
}

header .dropdown {
    font-size: 2em;
    display: none;
    user-select: none;
}

header nav{
    display: flex;
    flex-direction: column;
}

header a {
    width: 96%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

.dropdown-nav{
    display: block;
}

.sticky-header {
    position: fixed;
    top: 0;
    margin : 0;
    width: calc(100% - 16px);
    height: 5vh;
    border: none;
    border-radius: 0px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    animation: max-header 0.2s;
    flex-wrap: nowrap;
    border-bottom: 3px solid gray;
    z-index: 80;
}

.sticky-header img{
    display: inline-block;
    height: 100%;
    width: auto;
}
.sticky-header h1{
    font-size: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.sticky-header .wrap-head-info {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
}

.sticky-header span{
    display: none;
}


.sticky-header .dropdown{
    position: relative;
    display: inline-block;
    font-size: 4vh;
}

#open-dropdown {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    width: 2em;
    height: 2em;
    opacity: 0;
}

#open-dropdown:checked ~ nav{
    display: block;
    position: fixed;
    top: calc(5vh + 19px);
    right: 0px;
    width: 40%;
}

.sticky-header nav {
    width: fit-content;
    background-color: white;
    display: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.sticky-header .dropdown-nav {
    display: inline-block;
}

.sticky-header a {
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0px;
    margin: 0;
    font-size: 1em;
    padding: 8px;
}

@media only screen and (min-width: 992px) {
    header{
        flex-direction: row;
    }
    header img {
        display: inline-block;
        width: 30%;
    }

    header a {
        width : 30%;
        margin: 0;
    }

    header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .dropdown {
        display: none;
    }
    .sticky-header .dropdown{
        display: none;
    }
    .sticky-header nav{
        background-color: none;
        display: inline-block;
        border : none;
        margin-top: auto;
        margin-bottom: auto;
    }
    .sticky-header a{
        width: auto;
        margin: 0;
        border: none;
        font-size: 1.5em;
    }
    .sticky-header a:hover {
        background-color: gray;
        border-radius: 10px;
    }
    #dropdown{
        display: none;
    }
}

@keyframes max-header {
    0% {
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
        border-radius: 20px;
    }
    100% {
        margin-left: 0;
        margin-right: 0;
        width: calc(100% - 16px);
        border-radius: 0px;
    }
}

.sub-anchor {
    display: block;
    transform: translateY(calc(-5vw - 3px));
    width: 0;
    height: 0;
    margin : 0;
    padding: 0;
}

.content {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 20px;
    width: calc(80vw-40px);
    background-color: white;
    border-radius: 20px;
}

canvas {
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 992px) {
    iframe {
        width: 100%;
        height: 70vh;
    }
}

.iframe-wrap{
    position: relative;
    width: 100%;
    height: 80%;
}

.footer {
    margin-top: 5vh;
    width: calc(100% - 40px);
    padding: 20px;
    color: white;
    background-color: black;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

nav a:visited {
    text-decoration: none;
    color: black;
}

.animals-desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
}

.wrap-img-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrap-img-title h2{
    text-align: center;
}

.wrap-img-title img{
    display: block;
    width: 100%;
}

.wrap-animals-img {
    position: relative;
}

.animal-desc {
    padding: 8px;
    width: 100%;
    text-align: justify;
}

.shadow {
    position: absolute;
    bottom: 0;
    width : 100%;
    height: 50%;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,0.8));
    display: none;
    pointer-events: none;
}

.text {
    position: absolute;
    bottom : 5px;
    left : 10px;
    color: white;
    display: none;
    pointer-events: none;
    word-wrap: break-word;
}

.wrap-animals-img img:hover ~ .shadow {
    display: block;
    animation: creditshow 1s;
}

.wrap-animals-img img:hover ~ .text {
    display: block;
    animation: creditshow 1s;
}

@media only screen and (min-width: 992px) {
    .animals-desc-wrap {
        flex-direction: row;
    }
    
    .animals-desc-wrap:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .wrap-img-title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .animal-desc {
        padding: 40px;
        width: 45%;
    }
}

@keyframes creditshow {
    0% {opacity: 0}
    100%{opacity: 1;}
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 1em;
    height: 1em;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
    animation: faradialout 0.5s;
}

.fa:hover {
    border-radius: 50%;
    animation: faradial 0.5s;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white;
}

@keyframes faradial {
    0% {border-radius: 10px;}
    100%{border-radius: 50%;}
}

@keyframes faradialout {
    0% {border-radius: 50%;}
    100%{border-radius: 10px;}
}